<!-- ================================================ -->
<ion-header>
  <!-- ================================================ -->
  <ion-navbar>
    <!-- ================================================ -->
    <button ion-button menuToggle>
      <!-- ================================================ -->
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrinho</ion-title>
  </ion-navbar>
</ion-header>
<!-- ================================================ -->
<ion-content padding>
  <!-- ================================================ -->
  <ion-list>
    <!-- ================================================ -->
    <ion-item class="neumorphism" *ngFor="let item of items">
      <!-- ================================================ -->
      <ion-thumbnail item-start>
        <!-- ================================================ -->
        <img [src]="item.produto.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <!-- ================================================ -->
      <h2>{{item.produto.nome}}</h2>
      <!-- ================================================ -->
      <p>{{item.produto.preco | currency:"BRL"}}</p>
      <!-- ================================================ -->
      <ion-icon (click)="decreaseQuantity(item.produto)" name="remove-circle" class="nolinebreak" color="primary">
      </ion-icon>
      <!-- ================================================ -->
      <p class="nolinebreak">{{item.quantidade}}</p>
      <!-- ================================================ -->
      <ion-icon (click)="increaseQuantity(item.produto)" name="add-circle" class="nolinebreak" color="primary">
      </ion-icon>
      <!-- ================================================ -->
      <ion-icon (click)="removeItem(item.produto)" name="trash" item-end color="danger"></ion-icon>
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <h1>Total</h1>
      <h1 item-end>{{total() | currency:"BRL"}}</h1>
    </ion-item>
    <ion-item *ngIf="total() <= 0">
      <h1 class="texto">Seu carrinho está vazio!</h1>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="goOn()">Continuar comprando</button>
  <button ion-button block (click)="checkout()" color="secondary">Finalizar pedido</button>
</ion-content>