page-signup {
}

.labels {
  padding-left: 0px;
  height: 65px;
}

.list {
  margin-bottom: 0px;
}

.tipo-cliente {
  padding-top: 10px;
  margin-bottom: 0px;
  height: 50px;
  align-self: baseline;
}

.tipo-cliente-opt {
  height: 45px;
}
